<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title><%=_('\'LiveGiggy \'+global_seo_query_tags.title')%></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxTyped/dmxTyped.js" defer></script>
  <script src="/dmxAppConnect/dmxTyped/typed.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Toasts/dmxBootstrap5Toasts.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/bootstrap-modbox.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/dmxBootbox5.js" defer></script>
  <meta name="description" content="<%=_('global_seo_query_tags.description')%>">
  <meta name="keywords" content="<%=_('global_seo_query_tags.keywords')%>">
  <link rel="canonical" href="<%=_('global_seo_query_tags.canonical')%>">
  <meta property="og:site_name" content="<%=_('global_seo_query_tags.og_sitename')%>">
  <meta property="og:url" content="<%=_('$_SERVER.URL')%>">
  <meta property="og:image" content="'/assets/images/LIVEGIGGY_logo_xtra_large_1920-×-1080-px.png'">
  <meta property="og:description" content="<%=_('global_seo_query_tags.og_description')%>">
  <meta property="og:title" content="<%=_('global_seo_query_tags.title')%>">
  <meta name="twitter:image" content="'/assets/images/LIVEGIGGY_logo_xtra_large_1920-×-1080-px.png'">
  <meta name="twitter:url" content="<%=_('$_SERVER.URL')%>">
  <meta name="twitter:title" content="<%=_('global_seo_query_tags.twitter_title')%>">
  <meta name="twitter:description" content="<%=_('global_seo_query_tags.twitter_description')%>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="none">
  <link rel="icon" href="/assets/images/LIVEGIGGY_browser_logo_-120-%C3%97-120-px.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <link rel="stylesheet" href="/fontawesome6/css/all.min.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxAnimateCSS/animate.min.css" />
  <script src="/dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Alert/dmxBootstrap5Alert.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
</head>

<body is="dmx-app" id="main" style="--bs-body-bg: #222429;">
  <dmx-data-iterator id="iterator1" dmx-bind:data="conn_layout_whoami.data.query_who_am_i" dmx-bind:index="0"></dmx-data-iterator>
  <div class="modal text-light" id="modalmusicianonly" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title">Hey, we're sorry, but this is an option for Musicians only...</h5>
          <button id="btn4" class="btn text-light" dmx-on:click="modalmusicianonly.hide()"><i class="fa-regular fa-circle-xmark fa-fade fa-lg" style="--fa-animation-delay: 0.2s; --fa-animation-duration: 1s; --fa-animation-iteration-count: 1; --fa-animation-timing: ease-in;"></i><br></button>
        </div>
        <div class="modal-body">
          <div class="row text-lg-center">
            <div class="col">
              <p>You can become a member to interact with the musicians, or,<br>&nbsp;if you are a musician: why not register with us and try out our package for free the first month!</p>
              <div class="row">
                <div class="col">
                  <button id="btn6" class="btn btn-sm bg-transparent btn-warning mt-lg-3" dmx-animate-enter="bounce">
                    <span class="badge bg-dark">instant awesomeness!</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal_logout" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h4 class="modal-title text-danger">Do you want to logout {{conn_layout_whoami.data.query_who_am_i[0].first_name}}?</h4>
          <button id="btn3" class="btn text-light" dmx-on:click="modal_logout.hide()"><i class="fa-regular fa-circle-xmark fa-lg fa-fade" style="--fa-animation-delay: 0.2s; --fa-animation-duration: 1s; --fa-animation-iteration-count: 1; --fa-animation-timing: ease-in;"></i><br></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" dmx-on:click="run({run:{outputType:'text',action:`modal_logout.hide()`}})">Nope!</button>
          <button type="button" class="btn ms-2 btn-danger" dmx-on:click="run([{run:{outputType:'text',action:`notifies1.warning(\'You are logged out!\')`}},{wait:{delay:1000}},{run:{outputType:'text',action:`modal_logout.hide()`}},{run:{outputType:'text',action:`browser1.goto(\'/\')`}},{run:{outputType:'text',action:`browser1.reload()`}},{serverConnect:{name:'sc',outputType:'object',url:'/api/registration/logout',site:'testing2'}}])">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal_emailchange" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header border-bottom-0 mt-3">

          <h5 class="modal-title text-info">Change Your Emailaddress</h5><button id="btn2" class="btn text-light" dmx-on:click="modal_emailchange.hide();form1.reset()">
            <i class="fa-regular fa-circle-xmark fa-lg fa-fade" style="--fa-animation-delay: .2s; --fa-animation-duration: 1s; --fa-animation-iteration-count: 1; --fa-animation-timing: ease-in;"></i>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-light mb-4">Your current email is: {{conn_layout_whoami.data.query_who_am_i[0].email}}</h6>
          <div class="container">
            <form id="form1" is="dmx-serverconnect-form" method="post" action="/api/registration/update_email">
              <div class="row">
                <div class="col mb-2">
                  <div class="form-group text-white-50 mt-2 mb-1">
                    <label for="input2" class="form-label">Your new emailaddress goes here:</label>
                    <input type="text" class="form-control" id="input2" name="input2" aria-describedby="input2_help" placeholder="Your new emailaddress" required="" data-rule-email="">
                    <small id="input2_help" class="form-text text-muted">Your input is very valuable.</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col mb-2">
                  <div class="form-group mb-3 text-white-50">
                    <label for="input1" class="form-label">And for good measures, type it again:</label>
                    <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Again to confirm..." required="" data-rule-email="" data-rule-equalto="input2">
                    <small id="input1_help" class="form-text text-muted">Your input is very valuable.</small>
                  </div>
                </div>
              </div>
            </form>


          </div>

        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" dmx-animate-enter.duration:400.delay:200="fadeIn" dmx-on:click="modal1.hide();form1.reset();notifies1.info('No change made to email...')">Close</button>
          <button type="submit" class="btn btn-primary" dmx-animate-enter.duration:400.delay:200="fadeIn" dmx-on:click="run([{run:{outputType:'text',action:`form1.submit()`}},{run:{outputType:'text',action:`modal1.hide()`}},{run:{outputType:'text',action:`browser1.reload()`}},{wait:{delay:'3s'}},{run:{outputType:'text',action:`notifies1.success(\'Emailaddress changed!\')`}}])">Save New Email</button>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" id="offcanvas1" is="dmx-bs5-offcanvas" tabindex="-1">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-info">Your Account</h5>
      <button id="btn1" class="btn btn-dark bg-transparent shadow-none text-light" dmx-on:click="offcanvas1.hide()"><i class="fa-regular fa-circle-xmark fa-fade fa-lg" style="--fa-animation-delay: .2s; --fa-animation-duration: 1s; --fa-animation-iteration-count: 1; --fa-animation-timing: ease-in;"></i></button>
    </div>
    <div class="offcanvas-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-borderless table-dark">
                <tbody dmx-generator="bs5table" dmx-populate="conn_layout_whoami.data.query_who_am_i">
                  <tr>
                    <th>First name</th>
                    <td dmx-text="conn_layout_whoami.data.query_who_am_i[0].first_name"></td>
                  </tr>
                  <tr>
                    <th>Last name</th>
                    <td dmx-text="conn_layout_whoami.data.query_who_am_i[0].last_name"></td>
                  </tr>
                  <tr>
                    <th><i class="fa-solid fa-envelope fa-lg"></i>&nbsp; &nbsp;Email</th>
                    <td dmx-text="conn_layout_whoami.data.query_who_am_i[0].email"></td>
                    <td class="text-warning">
                      <i class="fa-regular fa-pen-to-square fa-lg fa-fade" style="--fa-animation-delay: 0.5s; --fa-animation-duration: 1s; --fa-animation-iteration-count: 1; --fa-animation-timing: ease-in;" dmx-on:click="offcanvas1.hide();modal_emailchange.show()"></i>
                    </td>
                  </tr>
                  <tr>
                    <th>Validation date</th>
                    <td dmx-text="conn_layout_whoami.data.query_who_am_i[0].validated_date.formatDate('dd-MM-yyyy HH:mm')"></td>
                  </tr>
                  <tr>
                    <th><i class="fa-solid fa-square-phone fa-lg"></i>&nbsp; &nbsp;Mobile</th>
                    <td dmx-text="conn_layout_whoami.data.query_who_am_i[0].mobile">{{conn_layout_whoami.data.query_who_am_i[0].mobile}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col text-lg-end">
                <button id="btn5" class="btn btn-danger btn-sm mb-lg-4" dmx-on:click="browser1.goto('/resetpassword')">Change my Password</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6 class="text-info">You are currently active as:</h6>
                <div class="row">
                  <div class="col">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th class="text-light"></th>
                        </tr>
                      </thead>
                      <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="conn_layout_whoami.data.query_who_am_i" id="tableRepeat1">
                        <tr>
                          <td class="text-success text-end">
                            <i class="fa-solid fa-check fa-lg"></i>
                          </td>
                          <td dmx-text="rolename" class="text-light"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <dmx-notifications id="notifies1"></dmx-notifications>
  <div is="dmx-browser" id="browser1"></div>
  <dmx-serverconnect id="conn_layout_whoami" url="/api/registration/whoami"></dmx-serverconnect>
  <header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand ms-2" href="/" internal="true">LiveGiggy</a>
        <span class="navbar-text text-info mt-lg-1" dmx-hide="(conn_layout_whoami.data.identity &lt; 1)">Hi {{conn_layout_whoami.data.query_who_am_i[0].first_name}}!</span><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation" dmx-animate-inview:60.duration:500.delay:200="bounceIn"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbar1_collapse">
          <div class="navbar-nav ms-lg-auto me-lg-2">
            <a class="nav-item nav-link active text-light" href="/" internal="true">Home</a>
            <a class="nav-item nav-link text-warning w-auto shadow" href="#"><i class="fa-solid fa-tv fa-lg"></i>

              Channels
            </a>

            <a class="nav-item nav-link text-info" href="#" dmx-on:click="run([{run:{outputType:'text',action:`conn_layout_whoami.load({})`}},{condition:{outputType:'boolean',if:`(conn_layout_whoami.data.identity &lt; 1)`,then:{steps:{run:{outputType:'text',action:`notifies1.info(\'ID is empty!\')`}}},else:{steps:[{run:{outputType:'text',action:`notifies1.info(\'ID is not empty!\')`}},{repeat:{name:'repeat',output:true,outputType:'array',repeat:`conn_layout_whoami.data.query_who_am_i`,outputFields:[],exec:{steps:[{condition:{outputType:'boolean',if:`(iterator1.value.role == \'T\')`,then:{steps:{run:{outputType:'text',action:`notifies1.info(\'Musician!\')`}}}}},{condition:{outputType:'boolean',if:`(iterator1.value.role == \'A\')`,then:{steps:{run:{outputType:'text',action:`notifies1.danger(\'Admin!\')`}}}}},{run:{outputType:'text',action:`iterator1.next()`}}]}}}]}}},{run:{outputType:'text',action:`modalmusicianonly.show()`}}])"><i class="fa-regular fa-circle-play fa-lg"></i>
              Your Channel</a>
            <a class="nav-item nav-link text-danger bg-transparent fw-bold" href="#" dmx-on:click="run([{run:{outputType:'text',action:`conn_layout_whoami.load({})`}},{condition:{outputType:'boolean',if:`(conn_layout_whoami.data.identity &lt; 1)`,then:{steps:{run:{outputType:'text',action:`notifies1.info(\'ID is empty!\')`}}},else:{steps:[{run:{outputType:'text',action:`notifies1.info(\'ID is not empty!\')`}},{repeat:{name:'repeat',output:true,outputType:'array',repeat:`conn_layout_whoami.data.query_who_am_i`,outputFields:[],exec:{steps:[{condition:{outputType:'boolean',if:`(iterator1.value.role == \'T\')`,then:{steps:{run:{outputType:'text',action:`notifies1.info(\'Musician!\')`}}}}},{condition:{outputType:'boolean',if:`(iterator1.value.role == \'A\')`,then:{steps:{run:{outputType:'text',action:`notifies1.danger(\'Admin!\')`}}}}},{run:{outputType:'text',action:`iterator1.next()`}}]}}}]}}},{run:{outputType:'text',action:`modalmusicianonly.show();conn_layout_whoami.load({})`}},{wait:{delay:10000}},{run:{outputType:'text',action:`browser1.goto(\'/\')`}}])"><i class="fa-solid fa-microphone-lines fa-lg"></i>
              Go Live!</a>
            <a class="nav-item nav-link text-light" href="#">News</a>
            <a class="nav-item nav-link text-light" href="#">Our Plans</a>
            <a class="nav-item nav-link text-light" href="#">Shop</a>

            <div class="nav-item dropdown"><a class="nav-link dropdown-toggle shadow-sm text-info" href="#" id="navbar1_dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar1_dropdown">
                <a class="dropdown-item" href="/Registration" dmx-show="(conn_layout_whoami.data.identity &lt; 1)">Register</a>
                <a class="dropdown-item text-info" href="/login-page" dmx-show="(conn_layout_whoami.data.identity &lt; 1)">Login</a>
                <a class="dropdown-item text-danger" href="#" dmx-show="(conn_layout_whoami.data.identity &gt; 0)" dmx-on:click="modal_logout.show()">Logout</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-info" href="#" dmx-hide="(conn_layout_whoami.data.identity &lt; 1)" dmx-on:click="offcanvas1.show()">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Contact</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </header>
  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>