<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title><%=_('\'LiveGiggy \'+global_seo_query_tags.description')%></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxTyped/dmxTyped.js" defer></script>
  <script src="/dmxAppConnect/dmxTyped/typed.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Toasts/dmxBootstrap5Toasts.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/bootstrap-modbox.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/dmxBootbox5.js" defer></script>
  <meta name="description" content="<%=_('global_seo_query_tags.description')%>">
  <meta name="keywords" content="<%=_('global_seo_query_tags.keywords')%>">
  <link rel="canonical" href="<%=_('global_seo_query_tags.canonical')%>">
  <meta property="og:site_name" content="<%=_('global_seo_query_tags.og_sitename')%>">
  <meta property="og:url" content="<%=_('$_SERVER.URL')%>">
  <meta property="og:image" content="'/assets/images/LIVEGIGGY_logo_xtra_large_1920-×-1080-px.png'">
  <meta property="og:description" content="<%=_('global_seo_query_tags.og_description')%>">
  <meta property="og:title" content="<%=_('global_seo_query_tags.title')%>">
  <meta name="twitter:image" content="'/assets/images/LIVEGIGGY_logo_xtra_large_1920-×-1080-px.png'">
  <meta name="twitter:url" content="<%=_('$_SERVER.URL')%>">
  <meta name="twitter:title" content="<%=_('global_seo_query_tags.twitter_title')%>">
  <meta name="twitter:description" content="<%=_('global_seo_query_tags.twitter_description')%>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="none">
  <link rel="icon" href="/assets/images/LIVEGIGGY_browser_logo_-120-%C3%97-120-px.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <script src="/dmxAppConnect/dmxVideo/dmxVideo.js" defer></script>
  <script src="/dmxAppConnect/dmxSwiper/dmxSwiper.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSwiper/swiper.min.css" />
  <script src="/dmxAppConnect/dmxSwiper/swiper.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.7/dist/tagify.min.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.7/dist/tagify.css" />
  <script src="/dmxAppConnect/dmxTagify/dmxTagify.js" defer></script>
</head>

<body is="dmx-app" id="memberlayout">
  <dmx-serverconnect id="conn_ismember" url="/api/member/ismember"></dmx-serverconnect>
  <dmx-serverconnect id="conn_whoami" url="/api/registration/whoami"></dmx-serverconnect>
  <dmx-notifications id="notifies1"></dmx-notifications>
  <div is="dmx-browser" id="browser1"></div>

  <header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand ms-2" href="/" internal="true">LiveGiggy member</a>
        <span class="navbar-text text-info mt-lg-1" dmx-hide="(conn_layout_whoami.data.identity &lt; 1)" dmx-text="'Hi '+conn_whoami.data.query_who_am_i.first_name+'!'">Hi {{conn_layout_whoami.data.query_who_am_i.first_name}}!
        </span><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar1_collapse">
          <div class="navbar-nav justify-content-lg-between ms-lg-auto me-lg-2">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link text-info" href="#">Your Channel</a>

            <a class="nav-item nav-link" href="#">Channels</a>
            <a class="nav-item nav-link" href="#">News</a>
            <a class="nav-item nav-link" href="#">Our Plans</a>
            <a class="nav-item nav-link" href="#">Shop</a>
            <a class="nav-item nav-link text-danger" href="#">Go Live!</a>

            <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbar1_dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu" aria-labelledby="navbar1_dropdown">
                <a class="dropdown-item" href="/Registration" internal="true" dmx-show="(conn_layout_whoami.data.identity &lt; 1)">Register</a>
                <a class="dropdown-item" href="/login-page" dmx-show="(conn_layout_whoami.data.identity &lt; 1)">Login</a>
                <a class="dropdown-item" href="#" dmx-on:click="run({'bootbox.confirm':{message:'Do you want to log out?',title:'LogoutConfirm',buttons:{confirm:{label:'Logout',className:'btn-danger'},cancel:{label:'Cancel',className:'btn-info'}},backdrop:true,then:{steps:[{serverConnect:{url:'/api/registration/logout',site:'testing2',name:'sc',outputType:'object'}},{'toast.show':{message:'You are logged out...!',delay:2000}},{wait:{delay:2000}},{run:{action:`browser1.goto(\'/\')`,outputType:'text'}}]},else:{steps:[{'toast.show':{message:'Cancelling!',delay:2000}},{wait:{delay:2000}}]},name:'Logout'}})" dmx-show="(conn_layout_whoami.data.identity &gt; 0)">Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" dmx-hide="(conn_layout_whoami.data.identity &lt; 1)">My Account</a>
                <a class="dropdown-item" href="#" dmx-hide="(conn_layout_whoami.data.identity &lt; 1)">Change Password</a>
              </div>
            </div>
            <a class="nav-item nav-link" href="#" internal="true">Contact</a>
          </div>
        </div>

      </div>
    </nav>
  </header>
  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>